// Dimensions
$pad_default: 35px;
$nav_height: 52px;
$pad_hor: 30px;
$pad_horizontal: 5vw;
$sidenav_width: 290px;
$mainapp_width: calc(100% - $sidenav_width);

// Colors
$fade_color: #757575;
$fade_color2: #999;
$bg_color: #fff;
$default_color: #ddd;
$dark: #111;
$light: #ccc;
$light2: #eee;
$main_color: #5353e6;
// $main_color: #3b3bea;
$fade_background: #333;
$fade_background2: #363636;

//Instruction sets
$border: 1px solid #444;
$border2: 1px solid #292929;
$border3: 1px solid #4a4a4a;
